@model IEnumerable<shop2.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products Section</h2>
<p>
    @Html.ActionLink("Create New", "Create")
    
    @*=== Searching Stuff=========*@
    @using (Html.BeginForm())
    {
    <p>
        Find by Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    }
    @*=== Searching Stuff=========*@

<table class="table">
    <tr>
        <th>
              @*@Html.DisplayNameFor(model => model.Pname) Old Code*@
              @Html.ActionLink("Product Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Price) Old Code*@
               @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.AddressSortParm })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }

    </table>
